@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Define color variables for light mode */
:root {
    --primary-color-light: #3498db;
    --secondary-color-light: #2ecc71;
    --text-color-light: #333;
    --button-color-light: #e74c3c;
    --input-background-light: #f9f9f9;
    --input-border-light: #ddd;
    --input-text-color-light: #555;
    --button-padding: 5px 10px;
    --button-border-radius: 5px;
    --button-font-size: 12px;
    --title-font-size: 18px;
}

/* Define color variables for dark mode */
.dark-mode {
    --primary-color: #1abc9c;
    --secondary-color: #9b59b6;
    --text-color: #f5f5f5;
    --button-color: #e74c3c;
    --input-background: #2c3e50;
    --input-border: #34495e;
    --input-text-color: #ecf0f1;
}


/* General styles */
body {
    padding: 0 40px;
    background-color: var(--input-background-light);
    /* Default to light mode background */
    color: var(--text-color-light);
    /* Default to light mode text color */
    font-family: 'Poppins', sans-serif;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>h1 {
    color: var(--primary-color-light);
    text-align: center;
    font-size: var(--title-font-size);
    margin: 8px 0;
}

/* Add styles for mode switch */

.mode-switch {
    display: flex;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    /* Adjust width */
    height: 15px;
    /* Adjust height */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 8px;
    /* Adjust border radius */
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    /* Adjust height */
    width: 11px;
    /* Adjust width */
    left: 2px;
    /* Adjust position */
    bottom: 2px;
    /* Adjust position */
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(15px);
    /* Adjust translation */
    -ms-transform: translateX(15px);
    /* Adjust translation */
    transform: translateX(15px);
    /* Adjust translation */
}

/* Rounded sliders */
.slider.round {
    border-radius: 8px;
    /* Adjust border radius */
}

.slider.round:before {
    border-radius: 50%;
}


.container {
    /* max-width: 800px; */
    margin: 0 auto;
}

textarea,
input[type="text"] {
    width: 100%;
    padding: 1px 2px;
    border: 1px solid var(--input-border-light);
    /* Default to light mode border color */
    border-radius: 2px;
    background-color: var(--input-background-light);
    /* Default to light mode background color */
    color: var(--input-text-color-light);
    /* Default to light mode text color */
    outline: none;
    /* Remove outline */
}

button {
    padding: var(--button-padding);
    border: none;
    border-radius: var(--button-border-radius);
    font-size: var(--button-font-size);
    cursor: pointer;
    margin-right: 10px;
}

.find-replace {
    height: 24px;
    display: flex;
    margin: 10px 0;
    font-size: 12px;
    align-items: center;
}

.options button {
    background-color: var(--primary-color-light);
    /* Default to light mode primary color */
    color: white;
}

.apply-changes button.undo {
    background-color: var(--secondary-color-light);
    /* Default to light mode secondary color */
    color: white;
}

.apply-changes button.save {
    background-color: var(--button-color-light);
    /* Default to light mode button color */
    color: white;
}

/* Mobile responsive styles */
@media screen and (max-width: 600px) {

    textarea,
    input[type="text"],
    button {
        width: 100%;
    }
}

/* Dark mode styles */
.dark-mode {
    background-color: var(--input-background);
    /* Dark mode background color */
    color: var(--text-color);
    /* Dark mode text color */
}

.dark-mode h1 {
    color: var(--primary-color);
    /* Dark mode primary color */
}

.dark-mode textarea,
.dark-mode input[type="text"] {
    border: 1px solid var(--input-border);
    /* Dark mode border color */
    background-color: var(--input-background);
    /* Dark mode background color */
    color: var(--input-text-color);
    /* Dark mode text color */
}